body {
  font-family: sans-serif;
  width: 800px;
  margin: 0 auto;
  padding: 10px;
}

h1 {
  text-align: center;
}

.input-entry {
  margin-bottom: 12px;
}

.error {
  color: red;
}

input[type=submit] {
  font-size: 20px;
}
