{% extends "login-base.html" %}

{% block content %}
<h2>Login</h2>
<form method="post">
    <div class="input-entry">
        <label>
            Username
            <br>
            <input type="text" name="username" value="{{username}}">
        </label>
    </div>
    <div class="input-entry">
        <label>
            Password
            <br>
            <input type="password" name="password" value="">
        </label>
    </div>
    <p class="error">{{error_msg}}</p>
    <br>
    <input type="submit">
</form>
<p>Don't have an account? <a href="/blog/signup">Sign up here</a> </p>
  {% endblock %}
