{% extends "blog-base.html" %}

{% block content %}
<div class="blog-entry">
    <div class="blog-header">
        <div class="blog-title">{{entry.subject}}</div>
        <div class="blog-date">{{entry.created.strftime("%b %d, %Y")}}</div>
    </div>
    <hr>
    <pre class="blog-body">{{entry.content}}</pre>
    <div class="blog-footer">
        <div class="blog-author">Posted by {{entry.author.name}}</div>
        <nav class="likes">
            <a href="/blog/comment?blog_id={{entry.get_id()}}">Comment</a>
            {{entry.comment_count()}}
            <a href="/blog/{{entry.get_id()}}/like">Like</a>
            {{entry.like_count()}}
        </nav>
    </div>
    <div class="error">{{error}}</div>
    <br>
    <br>

    {% for cid in entry.comments %}
        <div class="blog-comment">
            <hr class="comment-div">
            <pre class="comment-body">{{entry.get_comment(cid)}}</pre>
            <div class="blog-footer">
                <div class="blog-author">
                    Comment by {{entry.get_comment_author(cid)}}
                </div>

                <nav class="edits">
                    <a href="/blog/editcmt?blog_id={{entry.get_id()}}&cid={{cid}}">
                        Edit</a>
                    <a href="/blog/delcmt?blog_id={{entry.get_id()}}&cid={{cid}}">
                        Delete</a>
                </nav>

            </div>
        </div>
    {% endfor %}

</div>
{% endblock %}
