{% extends "blog-base.html" %}

{% block content %}
<div class="blog-entry">
    <div class="blog-header">
        <div class="blog-title">{{entry.subject}}</div>
        <div class="blog-date">{{entry.created.strftime("%b %d, %Y")}}</div>
    </div>
    <hr>
    <pre class="blog-body">{{entry.content}}</pre>
    <div class="blog-footer">
        <div class="blog-author">Posted by {{entry.author.name}}</div>
        <form class="likes">
            <input type="button" id="{{entry.key().id()}}" value="Like">
            {{entry.like_count()}}
        </form>
    </div>
</div>
{% endblock %}
