{% extends "blog-base.html" %}

{% block content %}
<div class="blog-entry">
    <div class="blog-header">
        <div class="blog-title">{{entry.subject}}</div>
        <div class="blog-date">{{entry.created.strftime("%b %d, %Y")}}</div>
    </div>
    <hr>
    <pre class="blog-body">{{entry.content}}</pre>
    <div class="blog-footer">
        <div class="blog-author">Posted by {{entry.author.name}}</div>
        <nav class="likes">
            <a href="/blog/{{entry.get_id()}}/comment">Comment</a>
            {{entry.comment_count()}}
            <a href="/blog/{{entry.get_id()}}/like">Like</a>
            {{entry.like_count()}}
        </nav>
    </div>
    <div class="error">{{error}}</div>
    <br>
    <br>

    {% for cmt in comments %}
        <div class="blog-comment">
            <hr class="comment-div">
            <pre class="comment-body">{{cmt.text}}</pre>
            <div class="blog-footer">
                <div class="comment-author">
                    Comment by {{cmt.get_author()}}
                </div>

                {% if user.name == cmt.get_author() %}
                    <nav class="edits">
                        <a href="/blog/{{entry.get_id()}}/editcmt?cid={{cmt.get_id()}}">
                            Edit</a>
                        <a href="/blog/{{entry.get_id()}}/delcmt?cid={{cmt.get_id()}}">
                            Delete</a>
                    </nav>
                {% endif %}

            </div>
        </div>
    {% endfor %}

</div>
{% endblock %}
