{% extends "blog-base.html" %}

{% block content %}
<h2>Welcome, {{username}}!</h2>

<nav class="newpost">
    <a href="/blog/newpost">Create a New Post</a>
</nav>

<table>
    <caption>Your Blog Posts</caption>
    <thead>
        <tr>
            <th>Date created</th>
            <th>Subject</th>
            <th colspan="2">Edit?</th>
        </tr>
    </thead>
    {% for entry in entries %}
        <tr>
            <td class="date">{{entry.created.strftime("%b %d, %Y")}}</td>
            <td class="subject">
              <a href="/blog/{{entry.get_id()}}">{{entry.subject}}</a>
            </td>
            <td>
                  <nav class="table-edits">
                      <a href="/blog/editpost?blog_id={{entry.get_id()}}">
                        Edit
                      </a>
                  </nav>
            </td>
            <td>
                  <nav class="table-edits">
                      <a href="/blog/delpost?blog_id={{entry.get_id()}}">
                        Delete
                      </a>
                  </nav>
            </td>
        </tr>
    {% endfor %}
</table>
<br>
<p>{{error}}</p>

{% endblock %}
